:root{
    --bgColor: white;
    --moduleColor: lightgray;
    --moduleRadius: 10px;
}

body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

@mixin pageBasicConfig{
    height: calc(100vh - 70px - 40px);
    width: calc(100vw - 40px);
    display: flex;
    overflow: scroll;
    padding: 20px;
}

.ErrorPage{
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1{
        margin: 0px;
    }

    h3{
        &:hover{cursor: pointer;}
    }
}

.NavBar{
    background-color: var(--moduleColor);
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.Home{
    @include pageBasicConfig;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo{
        width: 250px;
    }

    h1{
        font-size: 50px;
        margin: 10px 0px 10px 0px;
    }
    h2{
        font-size: 20px;
        margin: 0;
    }
}

.Regs{
    @include pageBasicConfig;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    .ListContainer{
        width: 100%;
        h1{text-align: center}

        .checksListItem{
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.Actives{
    @include pageBasicConfig;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .emptyMessage{
        align-self: center;
        justify-self: center;
    }

    .listItem{
        background-color: var(--moduleColor);
        border-radius: var(--moduleRadius);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 15px;
        width: calc(100% - 30px);

        .Buttons{
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
    }
}

//Estilos para modulos de Ant

.modalRegItemContainer{
    height: 50vh;
    overflow-y: scroll;

    .registerItemForModalRegs{
        border-radius: var(--moduleRadius);
        padding: 10px;
        background-color: var(--moduleColor);
        margin: 5px 0px;
    
        h3{margin: 0 0 5px 0;}
        h4{margin: 0;}
    }
}
